/* animations.css */

.image {
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}

.calendar {
    transition: transform 0.3s ease-in-out;
}

.calendar:hover {
    transform: scale(1.05);
}

.image2 {
    transition: transform 0.3s ease-in-out;
}

.image2:hover {
    transform: scale(1.05);
}

