/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #74AE6F;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-inner {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image {
    width: 45%;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.image h2 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .image {
        width: 100%;
    }
}
