/* styles.css */
@font-face {
    font-family: 'farmgarden';
    src:url('../farmgarden.ttf') format('truetype');
}

body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background-color: #74AE6F;
    font-size: 12px; /* Adjust font size as needed */
}

.header-inner {
    background-image: url('../images/GardenPicture.jpg'); 
    background-size: cover; 
    background-position: center; 
    margin: 0;
    padding: 200px 0px; 
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.image {
    width: 45%;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.image h2 {
    text-align: center;
}

.header-inner h1 {
    font-family: 'farmgarden';
    font-size: 100px; /* Adjust font size as needed */
    margin-top: 200px; /* Decrease the margin-top value */
    margin-bottom: 5px; /* Decrease the margin-bottom value */
    line-height: 2; /* Set line height to 1 to minimize spacing */
}

.header-inner p {
    font-family: 'farmgarden';
    font-size: 55px; /* Adjust font size as needed */
    margin-top: 2px; /* Decrease the margin-top value */
    margin-bottom: 300px; /* Decrease the margin-bottom value */
    line-height: 1; /* Set line height to 1 to minimize spacing */
}

@media screen and (max-width: 768px) {
    .image {
        width: 100%;
    }
}