/* styles.css */
@font-face {
    font-family: 'farmgarden';
    src:url('path/to/farmgarden.ttf') format('truetype');
}

body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background-color: #74AE6F;
    font-size: 12px; /* Adjust font size as needed */
}

.header-inner {
    font-family: 'farmgarden';
    background-image: url('../images/GardenPicture.jpg'); 
    background-size: cover; 
    background-position: center; 
    width: 100vw; 
    margin: 0;
    padding: 400px 0; 
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image {
    width: 45%;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.image h2 {
    text-align: center;
}

.header-inner p {
    font-family: 'farmgarden';
    font-size: 24px; /* Adjust font size as needed */
}

.header-inner h1 {
    font-family: 'farmgarden';
    font-size: 24px; /* Adjust font size as needed */
}

@media screen and (max-width: 768px) {
    .image {
        width: 100%;
    }
}
