@font-face {
    font-family: 'PriliDisplayRegular';
    src: url('fonts/PriliDisplayRegular.ttf') format('truetype');
}

h1 {
    font-family: 'PriliDisplayRegular';
    color: green;
    text-align: center;
}

h2 {
    color: white;
    background-color: pink;
}

img {
    border: 5px solid;
    border-color: pink;
    border-radius: 10px;
}

.list {
    text-align: center;
    font-size: 20px;
}

#peanuts {
    font-size: 30px;
    font-weight: 800;
    color: #DFBE97;
}